/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #32BAB0;
  --ion-color-primary-rgb: 149, 1, 203;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8301b3;
  --ion-color-primary-tint: #a01ad0;

  --ion-color-secondary: #ff9b29;
  --ion-color-secondary-rgb: 255, 155, 41;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e08824;
  --ion-color-secondary-tint: #ffa53e;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-color: var(--ion-color-primary-contrast);
}


.preload{
  position: absolute;
width: 100%;
height: 100%;

/* Green Upgrap */

background: #32BAB0;
}

.preload img {
  vertical-align:middle;
}

p{


font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #5B716F;


}

.p-no-center{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 150;
  font-size: 16px;
  line-height: 20px;
  text-align: left;

  color: #5B716F;
}

.btn-primary{
  width: 150px;
  padding: 16px 28px;
  background: #32BAB0;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.btn-category{

  padding: 16px 28px;
  background: #E9EBEB;
  border-radius: 10px;
  color: #001D1B;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 2%;width: 90%;line-height: 250%
}

.btn-category-active{
  width: 150px;
  padding: 16px 28px;
  background: #32BAB0;
  border-radius: 10px;
  color: #001D1B;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 2%;width: 90%;line-height: 250%
}


.btn-line{
padding: 16px 28px;
background: #EAFFFD;
border: 1px solid #32BAB0;
box-sizing: border-box;
border-radius: 10px;
color: #32BAB0;
font-family: Montserrat;
width: 150px;
}

.eclipse{
  background:#32BAB0;
  height: 250px; 
  width: 100%;
  border-radius: 0  0 100% 100%;
}

.text-control{
  color: #32BAB0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.form-control{
  background: #FFFFFF;
  border: 1px solid rgba(91, 113, 111, 0.8);
  box-sizing: border-box;
  border-radius: 10px; 
}

.container{
  position: absolute;
  background: #E9EBEB;
  border-radius: 10px;
}

.c-switch {
  display: inline-block;
  width: 40px;
  height: 26px;
}

.c-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.c-switch-slider {
  position: relative;
  display: block;
  height: inherit;
  cursor: pointer;
  border: 1px solid;
  transition: 0.15s ease-out;
  border-radius: 0.25rem;
  background-color: #fff;
  border-color: #d8dbe0;
}
.c-switch-slider::before {
  position: absolute;
  top: 2px;
  left: 2px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #fff;
  border: 1px solid #d8dbe0;
  transition: 0.15s ease-out;
  border-radius: 0.125rem;
}

.c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(14px);
}

.c-switch-input:focus ~ .c-switch-slider {
  color: #768192;
  background-color: #fff;
  border-color: #958bef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(50, 31, 219, 0.25);
}

.c-switch-input:disabled ~ .c-switch-slider {
  cursor: not-allowed;
  opacity: 0.5;
}

.c-switch-lg {
  width: 48px;
  height: 30px;
}
.c-switch-lg .c-switch-slider {
  font-size: 12px;
}
.c-switch-lg .c-switch-slider::before {
  width: 24px;
  height: 24px;
}
.c-switch-lg .c-switch-slider::after {
  font-size: 12px;
}
.c-switch-lg .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(18px);
}

.c-switch-sm {
  width: 32px;
  height: 22px;
}
.c-switch-sm .c-switch-slider {
  font-size: 8px;
}
.c-switch-sm .c-switch-slider::before {
  width: 16px;
  height: 16px;
}
.c-switch-sm .c-switch-slider::after {
  font-size: 8px;
}
.c-switch-sm .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(10px);
}

.c-switch-label {
  width: 48px;
}
.c-switch-label .c-switch-slider::before {
  z-index: 2;
}
.c-switch-label .c-switch-slider::after {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 50%;
  margin-top: -0.5em;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  color: #c4c9d0;
  text-align: center;
  text-transform: uppercase;
  content: attr(data-unchecked);
  transition: inherit;
}
html:not([dir=rtl]) .c-switch-label .c-switch-slider::after {
  right: 1px;
}
.c-switch-label .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(22px);
}
.c-switch-label .c-switch-input:checked ~ .c-switch-slider::after {
  left: 1px;
  color: #fff;
  content: attr(data-checked);
}
.c-switch-label.c-switch-lg {
  width: 56px;
  height: 30px;
}
.c-switch-label.c-switch-lg .c-switch-slider {
  font-size: 12px;
}
.c-switch-label.c-switch-lg .c-switch-slider::before {
  width: 24px;
  height: 24px;
}
.c-switch-label.c-switch-lg .c-switch-slider::after {
  font-size: 12px;
}
.c-switch-label.c-switch-lg .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(26px);
}
.c-switch-label.c-switch-sm {
  width: 40px;
  height: 22px;
}
.c-switch-label.c-switch-sm .c-switch-slider {
  font-size: 8px;
}
.c-switch-label.c-switch-sm .c-switch-slider::before {
  width: 16px;
  height: 16px;
}
.c-switch-label.c-switch-sm .c-switch-slider::after {
  font-size: 8px;
}
.c-switch-label.c-switch-sm .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(18px);
}

.c-switch[class*="-3d"] .c-switch-slider {
  background-color: #ebedef;
  border-radius: 50em;
}
.c-switch[class*="-3d"] .c-switch-slider::before {
  top: -1px;
  left: -1px;
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 50em;
  box-shadow: 0 2px 5px rgba(0, 0, 21, 0.3);
}
.c-switch[class*="-3d"].c-switch-lg {
  width: 48px;
  height: 30px;
}
.c-switch[class*="-3d"].c-switch-lg .c-switch-slider::before {
  width: 30px;
  height: 30px;
}
.c-switch[class*="-3d"].c-switch-lg .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(18px);
}
.c-switch[class*="-3d"].c-switch-sm {
  width: 32px;
  height: 22px;
}
.c-switch[class*="-3d"].c-switch-sm .c-switch-slider::before {
  width: 22px;
  height: 22px;
}
.c-switch[class*="-3d"].c-switch-sm .c-switch-input:checked ~ .c-switch-slider::before {
  transform: translateX(10px);
}

.c-switch-primary .c-switch-input:checked + .c-switch-slider {
  background-color: #32BAB0;
  border-color:  #32BAB0;
}
.c-switch-primary .c-switch-input:checked + .c-switch-slider::before {
  border-color:  #32BAB0;
}

.c-switch-3d-primary .c-switch-input:checked + .c-switch-slider {
  background-color: #32BAB0;
}

.c-switch-outline-primary .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #32BAB0;
}
.c-switch-outline-primary .c-switch-input:checked + .c-switch-slider::before {
  border-color: #32BAB0;
}
.c-switch-outline-primary .c-switch-input:checked + .c-switch-slider::after {
  color: #32BAB0;
}

.c-switch-opposite-primary .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #32BAB0;
}
.c-switch-opposite-primary .c-switch-input:checked + .c-switch-slider::before {
  background-color: #32BAB0;
  border-color: #32BAB0;
}
.c-switch-opposite-primary .c-switch-input:checked + .c-switch-slider::after {
  color: #32BAB0;
}

.c-switch-secondary .c-switch-input:checked + .c-switch-slider {
  background-color: #ced2d8;
  border-color: #b2b8c1;
}
.c-switch-secondary .c-switch-input:checked + .c-switch-slider::before {
  border-color: #b2b8c1;
}

.c-switch-3d-secondary .c-switch-input:checked + .c-switch-slider {
  background-color: #ced2d8;
}

.c-switch-outline-secondary .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #ced2d8;
}
.c-switch-outline-secondary .c-switch-input:checked + .c-switch-slider::before {
  border-color: #ced2d8;
}
.c-switch-outline-secondary .c-switch-input:checked + .c-switch-slider::after {
  color: #ced2d8;
}

.c-switch-opposite-secondary .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #ced2d8;
}
.c-switch-opposite-secondary .c-switch-input:checked + .c-switch-slider::before {
  background-color: #ced2d8;
  border-color: #ced2d8;
}
.c-switch-opposite-secondary .c-switch-input:checked + .c-switch-slider::after {
  color: #ced2d8;
}

.c-switch-success .c-switch-input:checked + .c-switch-slider {
  background-color: #2eb85c;
  border-color: #248f48;
}
.c-switch-success .c-switch-input:checked + .c-switch-slider::before {
  border-color: #248f48;
}

.c-switch-3d-success .c-switch-input:checked + .c-switch-slider {
  background-color: #2eb85c;
}

.c-switch-outline-success .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #2eb85c;
}
.c-switch-outline-success .c-switch-input:checked + .c-switch-slider::before {
  border-color: #2eb85c;
}
.c-switch-outline-success .c-switch-input:checked + .c-switch-slider::after {
  color: #2eb85c;
}

.c-switch-opposite-success .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #2eb85c;
}
.c-switch-opposite-success .c-switch-input:checked + .c-switch-slider::before {
  background-color: #2eb85c;
  border-color: #2eb85c;
}
.c-switch-opposite-success .c-switch-input:checked + .c-switch-slider::after {
  color: #2eb85c;
}

.c-switch-info .c-switch-input:checked + .c-switch-slider {
  background-color: #39f;
  border-color: #0080ff;
}
.c-switch-info .c-switch-input:checked + .c-switch-slider::before {
  border-color: #0080ff;
}

.c-switch-3d-info .c-switch-input:checked + .c-switch-slider {
  background-color: #39f;
}

.c-switch-outline-info .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #39f;
}
.c-switch-outline-info .c-switch-input:checked + .c-switch-slider::before {
  border-color: #39f;
}
.c-switch-outline-info .c-switch-input:checked + .c-switch-slider::after {
  color: #39f;
}

.c-switch-opposite-info .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #39f;
}
.c-switch-opposite-info .c-switch-input:checked + .c-switch-slider::before {
  background-color: #39f;
  border-color: #39f;
}
.c-switch-opposite-info .c-switch-input:checked + .c-switch-slider::after {
  color: #39f;
}

.c-switch-warning .c-switch-input:checked + .c-switch-slider {
  background-color: #f9b115;
  border-color: #d69405;
}
.c-switch-warning .c-switch-input:checked + .c-switch-slider::before {
  border-color: #d69405;
}

.c-switch-3d-warning .c-switch-input:checked + .c-switch-slider {
  background-color: #f9b115;
}

.c-switch-outline-warning .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #f9b115;
}
.c-switch-outline-warning .c-switch-input:checked + .c-switch-slider::before {
  border-color: #f9b115;
}
.c-switch-outline-warning .c-switch-input:checked + .c-switch-slider::after {
  color: #f9b115;
}

.c-switch-opposite-warning .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #f9b115;
}
.c-switch-opposite-warning .c-switch-input:checked + .c-switch-slider::before {
  background-color: #f9b115;
  border-color: #f9b115;
}
.c-switch-opposite-warning .c-switch-input:checked + .c-switch-slider::after {
  color: #f9b115;
}

.c-switch-danger .c-switch-input:checked + .c-switch-slider {
  background-color: #e55353;
  border-color: #de2727;
}
.c-switch-danger .c-switch-input:checked + .c-switch-slider::before {
  border-color: #de2727;
}

.c-switch-3d-danger .c-switch-input:checked + .c-switch-slider {
  background-color: #e55353;
}

.c-switch-outline-danger .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #e55353;
}
.c-switch-outline-danger .c-switch-input:checked + .c-switch-slider::before {
  border-color: #e55353;
}
.c-switch-outline-danger .c-switch-input:checked + .c-switch-slider::after {
  color: #e55353;
}

.c-switch-opposite-danger .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #e55353;
}
.c-switch-opposite-danger .c-switch-input:checked + .c-switch-slider::before {
  background-color: #e55353;
  border-color: #e55353;
}
.c-switch-opposite-danger .c-switch-input:checked + .c-switch-slider::after {
  color: #e55353;
}

.c-switch-light .c-switch-input:checked + .c-switch-slider {
  background-color: #ebedef;
  border-color: #cfd4d8;
}
.c-switch-light .c-switch-input:checked + .c-switch-slider::before {
  border-color: #cfd4d8;
}

.c-switch-3d-light .c-switch-input:checked + .c-switch-slider {
  background-color: #ebedef;
}

.c-switch-outline-light .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #ebedef;
}
.c-switch-outline-light .c-switch-input:checked + .c-switch-slider::before {
  border-color: #ebedef;
}
.c-switch-outline-light .c-switch-input:checked + .c-switch-slider::after {
  color: #ebedef;
}

.c-switch-opposite-light .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #ebedef;
}
.c-switch-opposite-light .c-switch-input:checked + .c-switch-slider::before {
  background-color: #ebedef;
  border-color: #ebedef;
}
.c-switch-opposite-light .c-switch-input:checked + .c-switch-slider::after {
  color: #ebedef;
}

.c-switch-dark .c-switch-input:checked + .c-switch-slider {
  background-color: #636f83;
  border-color: #4d5666;
}
.c-switch-dark .c-switch-input:checked + .c-switch-slider::before {
  border-color: #4d5666;
}

.c-switch-3d-dark .c-switch-input:checked + .c-switch-slider {
  background-color: #636f83;
}

.c-switch-outline-dark .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #636f83;
}
.c-switch-outline-dark .c-switch-input:checked + .c-switch-slider::before {
  border-color: #636f83;
}
.c-switch-outline-dark .c-switch-input:checked + .c-switch-slider::after {
  color: #636f83;
}

.c-switch-opposite-dark .c-switch-input:checked + .c-switch-slider {
  background-color: inherit;
  border-color: #636f83;
}
.c-switch-opposite-dark .c-switch-input:checked + .c-switch-slider::before {
  background-color: #636f83;
  border-color: #636f83;
}
.c-switch-opposite-dark .c-switch-input:checked + .c-switch-slider::after {
  color: #636f83;
}

.c-switch-pill .c-switch-slider {
  border-radius: 50em;
}
.c-switch-pill .c-switch-slider::before {
  border-radius: 50em;
}

.c-switch-square .c-switch-slider {
  border-radius: 0;
}
.c-switch-square .c-switch-slider::before {
  border-radius: 0;
}

.cursor{
  cursor: pointer
}

  @media (max-width: 800px){
    .badge{
      background: rgba(50, 186, 176, 0.6);
      border-radius: 4px;
      position: absolute;
      width: 35px;
      color: #fff;
      top: 4%;
      left: 80%;
    }
    .badge-2{
      background: rgba(50, 186, 176, 0.6);
      border-radius: 4px;
      position: absolute;
      width: 35px;
      color: #fff;
      top: 4%;
      left: 68%;
    }
  }
  @media (min-width: 1500px){
   .badge{
      background: rgba(50, 186, 176, 0.6);
      border-radius: 4px;
      position: absolute;
      width: 35px;
      color: #fff;
      top: 3%;
      left: 95%;
    }
    .badge-2{
      background: rgba(50, 186, 176, 0.6);
      border-radius: 4px;
      position: absolute;
      width: 35px;
      color: #fff;
      top: 3%;
      left: 80%;
    }

  }

  @media (max-width: 700px){
    .buttons-details{
     margin-top: 40%
    }
  }

  @media (min-width: 1500px){
    .buttons-details{
     margin-top: 4%
    }
  }

.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.tag-primary{
  width: 150px;
  height: 40px;
  padding: 10px 28px;
  background: #32BAB0;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 2px;
  margin-top: 5%;
}

.list-md{
  width: 90%;
  margin-left: 5%;
}